<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764281423525-kdoi7cmqg4tt2gtrnta5eqdrrho3p0qb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764281423525-kdoi7cmqg4tt2gtrnta5eqdrrho3p0qb</string>
	<key>API_KEY</key>
	<string>AIzaSyA-O-XJn0a19ViFBMMomWI0PKIpT_5fw_4</string>
	<key>GCM_SENDER_ID</key>
	<string>764281423525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nexysquare.ddoyac</string>
	<key>PROJECT_ID</key>
	<string>ddoyac</string>
	<key>STORAGE_BUCKET</key>
	<string>ddoyac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764281423525:ios:9faf1aea576a38c148af4c</string>
</dict>
</plist>